table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

table th,
table td {
  text-align: left;
  padding: 16px;
  border: 1px solid #ddd;
}

table tr {
  background-color: whitesmoke;
  color: black;
}

table tr:hover {
  background-color: gray;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: orange;
  color: black;
}

.emoji {
  width: 20px;
}
